*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    background: url(/git.ignore/images/inspos/Textured\ brown\ background.png);
    display: flex;
    padding: 10px;
    position: relative;
    justify-content: space-between;
    box-shadow: 4px 8px 12px black;
}

.navLinks{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: end;
    width:70%;
}

.navLink{
    text-decoration: none;
    color: blanchedalmond;
    cursor: pointer;
    transition: 0.3s;
}

.navLink:hover{
    color: whitesmoke;
}

.underline{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 60px;
    background: blanchedalmond;
    transition: 0.4s ease;
}

nav button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: blanchedalmond;
    color: rgb(136, 63, 4);
    font-weight: bold;
    transition: 0.2s; 
}

nav button:hover{
    cursor: pointer;
    box-shadow: 3px 6px 10px black;
}

nav button:active{
    opacity: 0.5;
}

.mediaLinks img{
    height: 40px;
    width: 40px;
}

main{
   background-image: url("/git.ignore/images/inspos/muhammad-asyfaul-_eqdJnXZz1I-unsplash.jpg");
   background-size: cover;
   background-position: left;
   min-height: 300px;
   height: 100vh;
   position: relative;
   overflow: hidden;
   display: flex;
}

.section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.5s ease;
}

.activeSection{
    opacity: 1;
    transform: translateX(0);
}

.slideLeft{
    transform: translateX(-100%);
}

.slideRight{
    transform: translateX(100%);
}

#home{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}

.text {
    font-weight: 600;
    font-size: 40px;
    color: blanchedalmond;
}

.mediaLinks{
    color: blanchedalmond;
    display: flex;
    gap: 15px;
    transition: 0.3s ease;
}

.mediaLinks img:hover{
    filter: drop-shadow(0 0 15px white);
}

.buttons button{
    background: url(/git.ignore/images/inspos/Textured\ brown\ background.png);
    color: blanchedalmond;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover{
    color: white;
    box-shadow: 3px 6px 9px rgba(0,0,0,0.8);

}

.buttons button:active{
    opacity: 0.5;
}

#contact{
    display: flex;
    background-image: url(/git.ignore/images/inspos/Textured\ brown\ background.png);
    height: 100vh;
    justify-content: center;
    padding: 40px;
    gap: 4em;
}

#contact .mediaLinks{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: blanchedalmond;
    padding: 20px;
    min-height: 60%;
    height: fit-content;
    border-radius: 5px;
    color: rgb(86, 50, 28);
}

form input,
textarea{
    padding: 8px 4px;
    border: 1px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

form input:focus, 
textarea:focus{
    outline: none;
    border: 1px solid brown;
    box-shadow: 0 0 10px rgba(208, 78, 3, 0.5);
}

form textarea{
    min-height: 100px;
}

form button, 
p{
    align-self: flex-end;
}

form button{
    background: url(/git.ignore/images/inspos/Textured\ brown\ background.png);
    color: blanchedalmond;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover{
    color: white;
    box-shadow: 3px 6px 9px rgba(0,0,0,0.8);

}

form button:active{
    opacity: 0.5;
}